<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register | Banco de Guatemala</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.0/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body class="d-flex flex-column h-100">
<header th:insert="homepage/_includes :: header-with-back">...</header>
<div th:replace="homepage/_includes :: banner"></div>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div id="info-left">
                    <p>Aquí se agrega una serie de pasos para que el cliente pueda crear Usuario.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="programmer">
                    <img th:src="@{/img/resume.png}" alt="Resume">
                </div>
            </div>
            <div class="col-lg-4">
                <div id="security-section">
                    <h6>Creación de Usuario BG en línea</h6>

                    <div class="text-center text-danger mt-4">
                        <div th:if="${message}">
                            Ya existe un usuario con este email. Pruebe recuperando su contraseña.
                        </div>
                    </div>

                    <form method="post" th:action="@{/register}" th:object="${customerForm}" novalidate>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon-bank">
                                <i class="fa fa-bank"></i>
                            </span>
                            <select th:field="*{bankId}" class="form-control" th:classappend="${not #lists.isEmpty(#fields.errors('bankId'))} ? is-invalid" required>
                                <option th:each="bank : ${banks}" th:value="${bank.id}" th:text="${bank.name}"></option>
                            </select>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('bankId')}" th:errors="*{bankId}"></div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon-full-name">
                                <i class="fa fa-user"></i>
                            </span>
                            <input th:field="*{fullName}" type="text" class="form-control" th:classappend="${not #lists.isEmpty(#fields.errors('fullName'))} ? is-invalid" placeholder="Nombre completo" required autofocus>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon-email">
                                <i class="fa fa-envelope"></i>
                            </span>
                            <input th:field="*{email}" type="email" class="form-control" th:classappend="${not #lists.isEmpty(#fields.errors('email'))} ? is-invalid" placeholder="Email" required>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon-id">
                                <i class="fa fa-id-badge"></i>
                            </span>
                            <input th:field="*{id}" type="text" class="form-control" th:classappend="${not #lists.isEmpty(#fields.errors('id'))} ? is-invalid" placeholder="ID" required>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon-password">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input th:field="*{password}" type="password" class="form-control" th:classappend="${not #lists.isEmpty(#fields.errors('password'))} ? is-invalid" placeholder="Contraseña" required>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                        </div>

                        <button type="submit" class="btn col-lg-12" value="Submit">
                            <i class="fa fa-newspaper"></i>
                            &nbsp;
                            Realizar solicitud
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row bottom-buttons">
            <div class="col-lg-12 text-end">
                <a th:href="@{/contact-us}">
                    <i class="fa fa-2xl fa-message"></i>
                </a>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/font-awesome/6.1.0/js/all.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>